*{
    margin:0;
    padding:0;
}

.header{
    display:flex;
    background-color:rgb(85, 73, 73);
    height:100px;
 }
 
 .left{
    width:20%;
 }
 
 .left img{
     margin-left:5px;
    border-radius:58px;
    width:80px;
    height:80px;
 }
 
 .navbar{
    display: flex;
    width:50%;
    padding-left:130px;
    padding-top:10px;
 }
 
 .navbar li{
    list-style-type: none;
 }
 
 .navbar li a{
    text-decoration: none;
    padding:10px 20px;
    color:white;
    font-size:30px;
   
 }
 
 .navbar li a:hover{
   background-color: white;
   color:rgb(85, 73, 73);
 }

.button{
     margin-left:450px;
}
 

 .heading h1{
     background-color:rgb(85, 73, 73) ;
     height:150px;
     font-size:40px;
     color:white;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     padding-top:30px;
 }
 .btn{
    border-radius: 28px;
    background-color: white;
    color: rgb(85, 73, 73);
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    width: 150px;
    border: 2px solid rgb(85, 73, 73);
    cursor: pointer;
 }
 
 .btn:hover{
    background-color:rgb(85, 73, 73);
    color:white;
    border:2px solid white;
 
 }

.container{
    display:flex;
    height:180px;
      
}

.left-image{
    width:40%;
    background-color:rgb(19, 17, 17) ;
    display:flex;
    justify-content: center;
    align-items: right;
}

.left-image img{
    position:absolute;
    top:7px;
    left:160px;
    height:150px;
    width:150px;
    border-radius: 75px;
}

.mid-heading{
    width:60%;
    background-color:rgb(19, 17, 17);
    color:white;
  
}

.mid-heading h1{
    font-size:40px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    text-align:left;
    padding-top:15px;
    padding-left:10px;
}

.mid-heading h2{
    font-size:30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

section{
  
    height:990px;
    margin-top:15px;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px 0;
}

.gallery{
    display:flex;
  
}
 .gallery img{
    display:block;
    width:250px;
    margin:auto;
} 


#box-1{
  
    margin:5px 5px;
    border-radius:10px;

}

#box-1 img{
    height:300px;
    width:420px;
    margin:10px 10px;

}

#box-1 p{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height:32px;
    color:rgb(51,51,51);
}

#box-2{
    
    margin:5px 5px;
    border-radius:10px;
   
}

#box-2 img{
    height:300px;
    width:400px;
    margin:10px 10px;

}

#box-2 p{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height:32px;
    color:rgb(51,51,51);
}

#box-3{
   
    margin:5px 5px; 
    border-radius:10px;

}

#box-3 img{
    height:300px;
    width:400px;
    margin:10px 10px;
}

#box-3 p{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height:32px;
    color:rgb(51,51,51);
}

#box-4{
  
    margin:5px 5px;
    border-radius:10px;

}

#box-4 img{
    height:300px;
    width: 350px;
    margin:10px 10px;   
}

#box-4 p{
    font-family: 'Source Sans Pro', serif;
    font-size: 18px;
    line-height:32px;
    color:rgb(51,51,51);
}

@media only screen and (max-width:1630px)
{
     .gallery{
         display:flex;
         flex-direction: column;
     }

     #box-1,#box-2,#box-3,#box-4{
         display:block;
         width:400px;
         margin:auto;
     }

     .header{
         display:none;
     }
}